:not(:defined) > * {
  display: none;
}

html,
body {
  overflow: hidden;
}

html {
  height: -webkit-fill-available;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  height: -webkit-fill-available;
  background: rgb(198, 218, 244);
  background: linear-gradient(
    180deg,
    rgba(198, 218, 244, 1) 0%,
    rgba(217, 228, 244, 1) 100%
  );
}

model-viewer {
  width: 100%;
  height: 100vh;
  height: -webkit-fill-available;
  --poster-color: transparent;
}

#button-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
}

#ar-prompt {
  bottom: 0;
  background: transparent;
  border: none;
  margin-bottom: 12px;
  margin-left: 6px;
  margin-right: 6px;
  max-width: 390px;
  margin-left: auto;
  margin-right: auto;
}

#ar-prompt img {
  width: 100%;
  height: auto;
  touch-action: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
